body {
  background: #000;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  max-width: 400px;
  max-height: 400px;
  border-radius: 50%;
  overflow: hidden;
  margin: 0;
  animation: rotate 300ms linear infinite; 
}

/* Start animation and circle starts to rotate */

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
} 
.square {
  height: 16px;
  width: 16px;
  border-radius: 50%;
  margin: 2px;
  background: #1d1d1d;
  transition: 3s ease;
  box-shadow: 0 0 2px #000;
}

.square:hover {
  transition-duration: 0s;
}
